/* Variables */
$main-color: #465a65;
$light-color: #90a4af;
$dark-color: #273238;
$light-grey: #ddd;
$white: #fff;
$grey: #bcbbc6;
$green: #afc536;
$dark-green: #99ac30;
$mail-body: #f1f1f1;
.modal {
	.modal-content {
		border-radius: 0;
	}

	.modal-body,
	.modal-header {
		padding: 30px;
	}

	.modal-title {
		color: #465a65;
  		font-weight: 600;
	}

	.modal-body {
		color: #777;
	}

	.modal-footer {
		padding: 10px 30px 30px 30px;
  		border: none;
	}
}